.search form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px 0;
}

.search form input {
    width: 300px;
    margin-right: 10px; 
}

.search form button {
    width: 100px;
}

.search form .form-group {
    margin-bottom: 0;
}