<div class="container">
  <form (ngSubmit)="formSubmit(form)" #form="ngForm">
    <div class="form-group">
      <label for="Article No">Article Number</label>
      <input type="text" name="articleNo" class="form-control" id="articleNo" [(ngModel)]="data.articleNo" aria-describedby="emailHelp" placeholder="Insert Article No">
    </div>
    <div class="form-group">
      <label for="BrandName">Brand Name</label>
      <input type="text" name="brandName" class="form-control" id="brandName" [(ngModel)]="data.brandName" placeholder="Insert Brand Name">
    </div>
    <div class="form-group">
      <label for="Category">Category</label>
      <div style="width: 300px; margin-bottom: 20px;">
        <ng-select [allowClear]="true"
                    [items]="cities"
                    [disabled]="disabled"
                    (data)="refreshValue($event)"
                    (selected)="selected($event)"
                    (removed)="removed($event)"
                    (typed)="typed($event)"
                    placeholder="No city selected"
                    name="select">
        </ng-select>
        <p></p>
        <pre>{{value.text}}</pre>
        <div>
          <button type="button" class="btn btn-primary"
                  [(ngModel)]="disabledV" btnCheckbox
                  btnCheckboxTrue="1" btnCheckboxFalse="0">
            {{disabled1 === '1' ? 'Enable' : 'Disable'}}
          </button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="Size">Size</label>
      <input type="text" name="size" class="form-control" id="size" [(ngModel)]="data.size" placeholder="Insert Size">
    </div>
    <div class="form-group">
      <label for="Price">Price</label>
      <input type="text" name="price" class="form-control" id="price" [(ngModel)]="data.price" placeholder="Insert Price">
    </div>
    <div class="form-group">
      <label for="Quantity">Quantity</label>
      <input type="text" name="quantity" class="form-control" id="quantity" [(ngModel)]="data.quantity" placeholder="Insert Quantity">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div *ngIf="successMsg" class="alert alert-success" role="alert">
    your data succesfully added
  </div>
  <div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    There is an error
  </div>
</div>